<header class="site-header bg-mix">

  <!-- 左：メニュー -->
<button class="menu-toggle mobile-only">
  <svg width="28" height="28" viewBox="0 0 28 28" class="menu-icon">
    <line class="line top"    x1="6" y1="10" x2="22" y2="10" stroke="currentColor" stroke-width="2"/>
    <line class="line bottom" x1="6" y1="18" x2="22" y2="18" stroke="currentColor" stroke-width="2"/>
  </svg>
</button>


  <!-- 中央：タイトル -->
<a href="/" class="site-title">
  <img src="/img/quickinstant.png" height="50" width="175" alt="hogusource logo">
</a>

  <!-- 右：検索 -->
  <a href="/search/" class="header-search">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </a>

</header>
