{{ define "main" }}
<link rel="stylesheet" href="/css/auth-anim.css">
<script src="/js/auth-anim.js" defer></script>

<div class="author-container">
  <div class="author-profile">

    <div class="author-image">
      <div class="author-wrapper">
        <img src="https://media.ffnet.work/asset/icon1.png" class="icon-front" alt="Author Image">
        <img src="https://media.ffnet.work/asset/icon2.png" class="icon-back" alt="Author Image Hover">
      </div>
    </div>

    <div class="author-info">
      <h2 class="author-name">Shun Tonegawa</h2>
      <p class="author-handle">hōgusu</p>
      <p class="author-link">
        Always, chill out. <br>
        In the end, that’s what matters most.
      </p>

      <section class="author-section card-glass">
        <h3>About</h3>
        <p>
          Nostrなど分散型SNSにいます。<br>
          GIMPでアイコンや壁紙を自作するのが得意です。
        </p>
      </section>
      
      <section class="author-section card-glass">
        <h3>Skills / Tools</h3>
        <ul>
          <li>GIMP</li>
          <li>Apple M1 Pro MacBook Pro</li>
          <li>Google Pixel 9a</li>
        </ul>
      </section>

      <section class="author-section card-glass">
        <h3>Favorite</h3>
        <p>
          ・ベース<br>
          ・アイマス<br>
          ・ゴッドイーター<br>
          ・ラジオ<br>
          ・遮音性の高いイヤホン
        </p>
      </section>

      <section class="author-section card-glass">
        <h3>Note</h3>
        <p>
          暇になったら赴くままに遊ぶようにモノを作っています。<br>
          作って欲しいものがあったらなんでも言ってね。<br><br>

          <a href="mailto:jardsocial@proton.me">メール（常に見れるやつ）</a><br><br>
          <a href="mailto:me@ffnet.work">メール（そこまで見れないやつ）</a>
        </p>
      </section>

    </div>
  </div>
</div>
{{ end }}
